@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);




@font-face {
	font-family: "FontAwesome";
	src: url('../fonts/font-awesome/fonts/FontAwesome.otf');
}


// typical paragraph styles
p {
	color: $color-main;
	font: {
		family: $sans-serif;
		size: .8em;
		weight: $light;
	}
	
	a {
		text-decoration: none;

		&:link, &:visited {
			color: $color-main;
		}
	}
}


// typical h1 styles
h1 {
	margin: 30px 0 30px 0;
	color: white;
	font: {
		family: $sans-serif;
		weight: $bold;
		size: 1.4em;
	}
	line-height: 1.2;
	text-transform: uppercase;

	:hover {
		cursor: pointer;
	}

	a {
		&:link, &:visited {
			text-decoration: underline;
			color: $color-main;
		}

		&:hover {
			text-decoration: none;
		}
	}

}




// typical h3 styles
h3 {
	display: inline;
	margin: 1em 0 0 0;
	padding-right: 1em;
	float: left;
	color: $color-main;
	
	font: {
		family: $sans-serif;
		size: .8em;
		weight: $light;
	}

	a {
		&:link, &:visited {
			family: $sans-serif;
			text-decoration: none;
			weight: $light;
			style: italic;
			color: $color-main;
		}
	}
}






